.footer-main{
  background-color: #8F8D8C;
  padding-bottom: 0px;
  margin-bottom: -20px;

}

.footer-column-main{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.footer-column {
  float: left;
  width: 33.33%;
}

.footer-row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .footer-column {
    width: 100%;
  }
}